.home{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.home-1{
  width: 60%;
}

.home-2 img{
  border-radius: 100px;
  width: 200px;
  height: 200px;
}

.conhecimentos h1, .servicos h1, .contato h1{
  text-align: center;
}

.conhecimentos h3, contato {
  padding-left: 20px;
}